<!DOCTYPE html>

<link href="css/bootstrap.min.css" rel="stylesheet">

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body style="background-image:url('../../fonts/cork-wallet.png')">

    <div class="container">

        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">StoreFront</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Cart <span class="badge">itemsInCart</span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="row">
            <aside class="col-md-4">
                <ul class="list-group">
                    <li class="navbar-link">Home</li>
                    <li class="navbar-link">Search</li>
                    <li class="navbar-link">Profile</li>
                </ul>
            </aside>
            <section class="col-md-8">

            </section>
        </div>

        <div class="row">
            <footer class="col-sm-12">
                <p class="text-center">© 2016 - Arthur Byra</p>
                <p>Computer Aid, Inc.</p>
            </footer>
        </div>

    </div>
</body>
</html>
