<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("Search", "Index", "Search")</li>

@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Profile", "UserProfile", "Home")</li>

    @*if (HttpContext.Current.Profile.GetPropertyValue("isAdmin") != null && (int)HttpContext.Current.Profile.GetPropertyValue("isAdmin") == 1)
    {
        <li><a href="~/Default.aspx">Admin</a></li>
    }*@

    if (Session["isAdmin"] != null && (int)Session["isAdmin"] == 1)
    {
        <li><a href="~/Default.aspx">Admin</a></li>
    }

}