<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("Search", "Index", "Search")</li>

@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Profile", "UserProfile", "Home")</li>

    <li id="IfAdmin"><a href="~/Default.aspx">Admin</a></li>

<script>

    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("isAdmin", "Login")',
            success: function (data) {
                if(data == 1)
                {
                    $("#IfAdmin").show();
                }
                else {
                    $("#IfAdmin").hide();
                }
            }
        })
    });

</script>

}