<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("Search", "Index", "Search")</li>

@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Profile", "UserProfile", "Home")</li>

    if (Roles.IsUserInRole("Admin"))
    {
            <li><a href="~/Default.aspx">Admin</a></li>
        }

} 